 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} Symantic UI CSS {% endcomment %}
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
    />
     <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css"
      integrity="sha512-ox96Q1iqhM5TvdY4gVbz6FXoDwsR/Q8jq15kWReQNefC+uUGCv+pkMbLOtr176K3+bfrQQv6gTDAvhL1PUw2YQ=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css"
      integrity="sha512-CPLGe+O/BzgzHJKpdBXUuewmlxhlEfQ00zuYg1vcGCjOo88mqMeO1qa8q397ifxm18D12Go8OF7A42CjOKEl/g=="
      crossorigin="anonymous"
    />

    {% comment %} CSS from Static File {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
    {% comment %} JQuery {% endcomment %}
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>

    {% comment %} Symantic UI JS {% endcomment %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js"
      integrity="sha512-aAW/TaSuYfyjTcMsaYP67Dwe0vI5d7ej9X7NJBPkhafB+D5kx57flRNo8+tOXWA0Gcq0MBmhPatrvn1YwvH9gQ=="
      crossorigin="anonymous"
    ></script>


  

    

    <script>
        $(document).ready(function () {
            $("#signup_modal").click(function () {
                $(".signup").modal("show");
            });

            $(".signup").modal({
                closable: true
            });

            $("#login_modal").click(function() {
                $(".login").modal("show");
            });

            $(".login").modal({
                closable: true
            });
        });
    </script>

    <title>Country Mechanic</title>
 </head>

 <body>
 
    {% comment %} Registration Modal {% endcomment %}
    <div class="ui modal signup"> <i class="close icon"></i>
        <div class="header">Sign Up</div>
        <div class="content">
            <form method="POST" action = "{% url 'home' %}">
                {% csrf_token %}
                {% comment %} NEW SEMANTIC FORM {% endcomment %}
                <div class="ui equal width form">
                    <div class="field">
                        <label>Username</label>
                        <input type="text" placeholder="Username" name="username" required>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>First Name</label>
                            <input type="text" name="first_name" placeholder="John" required>
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" name="last_name" placeholder="Smith" required>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="email@email.com" required>
                    </div>
                    <div class="ui message">
                        <div class="header">Password requirements</div>
                        <ul class="list">
                            <li>Minimum 8 characters.</li>
                            <li>Can't be a commonly used password</li>
                            <li>Can't be entirely numeric.</li>
                            <li>Can't be too similar to personal information</li>
                        </ul>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Password</label>
                            <input type="password" name="password1" placeholder="Password" required>
                        </div>    
                        <div class="field">
                            <label>Password Confirmation</label>
                            <input type="password" name="password2" placeholder="Password" required>
                        </div>
                    </div>
                    {% if error %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>{{error}}</p>
                    </div>
                    {% endif %}
                    <div class="actions">
                        <input type="submit" class="ui button" value="Sign Up"/>
                        <div class="ui black deny button">
                            Cancel
                        </div>
                    {% comment %} REVIEW: Cancel button to close modal/redirect to SAME page {% endcomment %}
                    {% comment %} <div class="ui button" id="hide_modal">Cancel</div> {% endcomment %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>   
    
    {% comment %} Login Modal {% endcomment %}
    <div class="ui modal login"> <i class="close icon"></i>
        <div class="header">Login</div>
        <div class="content">
            <form method="POST" action = "{% url 'login' %}">
                {% csrf_token %}
                <div class="ui equal width form error">
                    <div class="fields">
                        <div class="field">
                            <label>Username</label>
                            <input type="text" placeholder="Username" name="username">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" name="password">
                        </div>
                    </div>
                    {% if error_message %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>{{error_message}}</p>
                    </div>
                    {% endif %}
                    <div class="actions">
                        <input type="submit" class="ui button" value="Login"/>
                        <div class="ui black deny button">
                            Cancel
                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </div>
            </form>  
        </div>
    </div>

    {% comment %} Nav Bar {% endcomment %}
    <header>
        <div class="ui large secondary menu">
            <a class="item"> Logo </a>
            <div class="right menu">
                
                {% if user.is_authenticated %}
                    <a class="ui item button" href="{% url 'main' %}">
                        <div class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Garage</div>
                            <div class="visible content">
                                <i class="car icon"></i>
                            </div>
                        </div>
                    </a>
                    <a class="ui item button" href="{% url 'profile' %}">
                        <div class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Profile</div>
                            <div class="visible content">
                                <i class="user icon"></i>
                            </div>
                        </div>
                    </a>
                    <a class="ui item button" href="{% url 'logout' %}">
                        <div class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Log Out</div>
                            <div class="visible content">
                                <i class="sign-out icon"></i>
                            </div>
                        </div>
                    </a>
                {% else %}
                    {% comment %} <a class="ui item button" id="login_modal">Login</a> {% endcomment %}
                    <a class='ui item button' id='login_modal'>
                        <div class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Login</div>
                            <div class="visible content">
                                <i class="sign-in icon"></i>
                            </div>
                        </div>
                    </a>
                    <a class="ui item button" id="signup_modal">
                        <div class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Signup</div>
                            <div class="visible content">
                                <i class="edit icon"></i>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </header>
    

    {% comment %} ===== BLOCK CONTENT ===== {% endcomment %} 
      {% block content%} {% endblock %} 

    {% comment %} Footer {% endcomment %}
     <footer>
        <div id="footer" class="ui vertical footer segment">
            <div class="ui container">
            <div class="ui stackable divided equal height stackable grid" >
                <div class="five wide column">
                <h4 class="ui header">Connect</h4>
                <div class="ui link list">
                    <a href="/about" class="item">info@countrymechanic.com</a>
                </div>
                </div>
                <div class="five wide column">
                <h4 class="ui header">Navigate</h4>
                <div class="ui link list">
                {% if user.is_authenticated %}
                    <a href="/profile" class="item">Main</a>
                    <a href="/cities/1" class="item">Tools</a>
                    <a class="item" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a href="/" class="item">Home</a>
                {% endif %}
                </div>
                </div>
                <div class="four wide column">
                <h4 class="ui header">Country Mechanic</h4>
                <p>
                    County Mechanic &copy 2021
                </p>
                <a href="#"> Privacy Policy</a>
                </div>
            </div>
            </div>
        </div>
    </footer>
 </body>
 </html>
 
 