{% extends 'base.html' %}
{% block content %}

<div>
    <div class="hero">
        <h1>Hello</h1>
        <p>Other text</p>
        <img src="/static/resources/car-repair.webp" alt="truck">
        <div class="bar"></div>
    </div>
    <section>
        <p>Scuttle rigging scurvy cog lee nipper Letter of Marque transom Buccaneer Privateer. Chain Shot ho Letter of Marque hornswaggle booty fathom jack bounty maroon Barbary Coast. Nipperkin Barbary Coast measured fer yer chains blow the man down Letter of Marque smartly splice the main brace furl parley starboard.
            Jib scurvy bilged on her anchor ballast Arr topgallant gaff Yellow Jack stern long clothes. Ballast run a rig gunwalls scourge of the seven seas transom crimp provost league tackle Admiral of the Black. Lass boatswain gally ye bring a spring upon her cable black jack plunder prow cackle fruit keelhaul.
            Fire ship Sink me hardtack hearties league lass Privateer Nelsons folly broadside rum. Cutlass topmast parley bowsprit scallywag scuppers mizzenmast belaying pin pillage aye. Handsomely log cable mutiny pirate doubloon nipperkin bilge rat overhaul yard.
        </p>
    </section>
    <section id="home_grid_pics">
        <h1>Features</h1>
        <div class="ui grid">
            <div class="three column row">
                <div class="column">
                    <img src="/static/resources/tools.jpg" alt="">
                </div>
                <div class="column">
                    <img src="/static/resources/tools.jpg" alt="">
                </div>
                <div class="column">
                    <img src="/static/resources/tools.jpg" alt="">
                </div>
            </div>
            <div class="three column row">
                <div class="column">
                    <p>Scuttle rigging scurvy cog lee nipper Letter of Marque transom Buccaneer Privateer. Chain Shot ho Letter of Marque hornswaggle booty fathom jack bounty maroon Barbary Coast. Nipperkin Barbary Coast measured fer yer chains blow the man down Letter of Marque smartly splice the main brace furl parley starboard.</p>
                </div>
                <div class="column">
                    <p>Scuttle rigging scurvy cog lee nipper Letter of Marque transom Buccaneer Privateer. Chain Shot ho Letter of Marque hornswaggle booty fathom jack bounty maroon Barbary Coast. Nipperkin Barbary Coast measured fer yer chains blow the man down Letter of Marque smartly splice the main brace furl parley starboard.</p>
                </div>
                <div class="column">
                    <p>Scuttle rigging scurvy cog lee nipper Letter of Marque transom Buccaneer Privateer. Chain Shot ho Letter of Marque hornswaggle booty fathom jack bounty maroon Barbary Coast. Nipperkin Barbary Coast measured fer yer chains blow the man down Letter of Marque smartly splice the main brace furl parley starboard.</p>
                </div>
            </div>
            </div>
            <div class="ui relaxed grid">
            <div class="three column row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
            <div class="three column row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>
    </section>
</div>

{% endblock %}