{% extends 'base.html' %}
{% block content %}

<div>
    <div class="hero">
        <h1>Country Mechanic</h1>
        <p>Staying Organized in the Garage</p>
        <img src="/static/resources/car-repair.webp" alt="">
        <div class="bar"></div>
    </div>
    <section id="home_copy">
        <p>Rural living can be tough, but tracking the maintenance for your equipment doesn't have to be.  Country Mechanic will track the maintenance for your cars, trucks, ATVs, and tractors, as well as your smaller tools like chainsaws and brush hogs.  Equipment maintenace intervals can be tracked in hours, miles, or seasons.  Maintenance records can be created at the touch of a button and stored securely in our database.   
        </p>
    </section>
    <section id="home_grid_pics">
        <h1>Features</h1>
        <div class="ui grid">
            <div class="three column row">
                <div class="column">
                    <img src="/static/resources/tools.jpg" alt="">
                </div>
                <div class="column">
                    <img src="/static/resources/consumables.jpeg" alt="">
                </div>
                <div class="column">
                    <img src="/static/resources/Tractorstorage.jpg" alt="">
                </div>
            </div>
            <div class="three column row">
                <div class="column">
                    <p>Organized storage for all of your tools in our database.  Easy retrieval for easy addition to any task.</p>
                </div>
                <div class="column">
                    <p>Organized storage for all of your consumables in our database.  Easy retrieval for easy addition to any task.</p>
                </div>
                <div class="column">
                    <p>Park all of your equipment in our garage for safe keeping.  All tasks can be tracked and maintenace records created.</p>
                </div>
            </div>
            </div>
            <div class="ui relaxed grid">
            <div class="three column row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
            <div class="three column row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>
    </section>
</div>

{% endblock %}