{% extends 'base.html' %}
{% block content %}

<div>
    <aside id="main_aside">
        <h3>Garage</h3>
        {% if equipment == "" %}
            <p>You haven't added any equipment yet.  Hit the Create Equipment Button to get started</p>
        {% else %}
            {% for equipment in equipment %}
                <div class="ui card">
                    <div class="content">
                        <i id="{{equipment.id}}" class="right floated close icon delete_modal"></i>
                        <div class="header">
                            <a href="{% url 'equipment_show' equipment_id=equipment.id %}"> 
                                <p>{{ equipment.make }}</p>
                                <p>{{ equipment.model }}</p>
                            </a> 
                        </div>
                    </div>
                </div>

                {% comment %} DELETE MODAL {% endcomment %}
                <div id="modal-{{ equipment.id }}" class="ui modal delete">
                    <i class="close icon"></i>
                    <div class="header">
                    Are you sure you want to delete: {{equipment.make}} {{equipment.model}}?
                    </div>
                    <div class="content">
                        <a href="{% url 'equipment_delete' equipment_id=equipment.id %}" class="ui inverted button">
                            Confirm Delete
                        </a>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </div>

            {% endfor %}
        {% endif %}

        <a href="{% url 'equipment_create' %}" class="ui button">Create Equipment</a>

    </aside>
</div>

{% endblock %}