{% extends 'base.html' %}
{% block content %}

<div id="container-box" class="ui center aligned stackable grid container">

    <form action="{% url 'tool_create' %}?next={{ next }}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <div class="ui equal width form">
            
            <div class="field">
                <h3 class='ui center aligned header'>Tool</h3>
                <input type="text" name="tool_name" placeholder="Wrench" >
            </div>
            <div class="field">
                <h3 class='ui center aligned header'>Description</h3>
                <input type="text" name="description" placeholder="Description" >
            </div>

            <div class="field">
                <h3 class='ui center aligned header'>Image </h3>
                <input type="file" name="photo-file" placeholder="URL">
            </div>
           
        </div>
        {% if error %}
        <div class="ui error message">
            <div class="header">Action Forbidden</div>
            <p>{{error}}</p>
        </div>
        {% endif %}

        <div id="form_buttons">
            <input type="submit" class="ui button" value="Create Tool" />
            <a href="{% url 'garage' %}" class="ui button">Cancel</a>
            {% comment %} figure out how to redirect back to equipment {% endcomment %}
        </div>
    </form>
</div>

{% endblock %}