
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: azure;
}

header {
    background-color: azure;
    width: 100vw;
    height: 75px;
}

header > div {
    height: 75px;
}

.hero {
    background-color: azure;
    width: 100%;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: azure;
    overflow: hidden;
}

.hero h1 {
    font-size: 4.1em;
    margin: auto;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: azure;
}

.hero p {
  font-size: 1.5em;
  margin: auto;
  position: absolute; 
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero img {
    width: 100%;
}

.bar {
    width: 100%;
    height: 200px;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 90px;
    background: red;
}

#home_grid_pics {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

#footer {
    background-color: azure;
    width: 100%;
    text-align: center;
}