
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: azure;
}

header {
    background-color: azure;
    width: 100vw;
    height: 75px;
}

header > div {
    height: 75px;
}

.hero {
    background-color: azure;
    width: 100%;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: azure;
    overflow: hidden;
}

.hero h1 {
    font-size: 4.1em;
    margin: auto;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: azure;
}

.hero p {
  font-size: 1.5em;
  margin: auto;
  position: absolute; 
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero img {
    width: 100%;
}

.bar {
    width: 100%;
    height: 200px;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 90px;
    background: red;
}

#home_copy {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    font-size: large;
    padding: 40px 0 20px 0;
}

#home_grid_pics {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

#garage {
    text-align: center;
    min-height: 75vh;
    min-width: 370px;
    background-position: center;
    background-image: url('../resources/shop.jpeg');
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6); 
}

#garage h3 {
    color: white;
    font-size: 30px;
    padding: 20px;
}

#garage_create_button {
    margin: 50px;
}

#footer {
    background-color: azure;
    width: 100%;
    text-align: center;
}