{% extends 'base.html' %}
{% block content %}

<div id="container-box" class="ui center aligned stackable grid container">

    <form action="{% url 'equipment_create' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <div class="ui equal width form">
            <div class="fields">
                <div class="field">
                    <h3 class='ui center aligned header'>Make</h3>
                    <input type="text" name="make" placeholder="Make" >
                </div>
                <div class="field">
                    <h3 class='ui center aligned header'>Model</h3>
                    <input type="text" name="model" placeholder="Model" >
                </div>
                <div class="field">
                    <h3 class='ui center aligned header'>Year</h3>
                    <input type="number" name="mfg_year" value=0 >
                </div>
            </div>
            
            <div class="field">
                <h3 class='ui center aligned header'>Description</h3>
                <textarea name="description" cols="30" rows="10"></textarea>
                {% comment %} <input type="text" name="description" placeholder="Description" > {% endcomment %}
            </div>

            <div class="ui segment">
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <div class="ui form">
                            <div class="field">
                                <h3 class='ui center aligned header'>Mileage</h3>
                                <input type="number" name="mileage" value=0 >
                                </div>
                            </div>
                        </div>
                        <div class="middle aligned column">
                            <div class="field">
                                <h3 class='ui center aligned header'>Hours</h3>
                                <input type="number" name="hours" value=0 >
                            </div>
                        </div>
                    </div>
                
                    <div class="ui vertical divider">
                        Or
                    </div>
                </div>
            
            <div class="field">
                <h3 class='ui center aligned header'>Cost </h3>
                <div class="ui right labeled input">
                    <label for="amount" class="ui label">$</label>
                    <input type="number" id="amount" name="cost" value=0>
                    <div class="ui basic label">.00</div>
                </div>
            </div>
        </div>
       
        <div class="form_buttons">
            <input type="submit" class="ui button" value="Create Equipment" />
            <a href="{% url 'garage' %}" class="ui button">Cancel</a>
        </div>
        </div>
    </form>
</div>

{% endblock %}