{% extends 'base.html' %}
{% block content %}

<div >
    <div id="equipment_show" class="ui items">
        <div class="item">
            <div id="equipment_show_img" class="image">
                {% for photo in equipment.photo_set.all %}
                    <img class="profile-img" src="{{photo.url}}">
                    <a href="{% url 'delete_photo' photo_id=photo.id equipment_id=equipment.id %}">Delete Photo</a>
                {% empty %}
                    <img class="image dummy_image" src="https://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png">
                
                {% comment %} PHOTO FORM {% endcomment %}
                <form action="{% url 'add_photo' equipment.id %}" enctype="multipart/form-data" method="POST">
                     {% csrf_token %}

                     <input type="file" name="photo-file">
                    <br><br>
                     <input type="submit" class="btn" value="Upload Photo">
                    </form>
                 {% endfor %}
            </div>
            <div class="content">
                <a class="header">{{equipment.make}} {{equipment.model}}</a>
                <div class="meta">
                    <span>Description</span>
                </div>
                <div class="description">
                    <p>{{equipment.description}}</p>
                </div>
                <div class="extra">
                    <span>Mfg Date: {{equipment.mfg_year}}</span> 
                    <span>Cost: ${{equipment.cost}}</span>
                    <span>Hours: {{equipment.hours}}</span>
                    <span>Mileage: {{equipment.mileage}}</span>
                    <a href="{% url 'equipment_edit' equipment_id=equipment.id %}">Edit</a>
                </div>
            </div>
        </div>
    </div>

    {% comment %} 
            Title: jQuery folder tabs
            Author: Axelaredz
            Availability: https://codepen.io/axelaredz/pen/aswFo
    {% endcomment %}
    <ul id="tabs">
        <li><a href="#" name="tab1">Tasks</a></li>
        <li><a href="#" name="tab2">Maintenance Record</a></li>
        <li><a href="#" name="tab3">Tools</a></li>
        <li><a href="#" name="tab4">Consumables</a></li>    
    </ul>   
    
    <div id="tab_content" >
        <div id="tab1" class="lined-paper">
            <section class="paper_tabs"> 
                <p>Click on a task to see its details, add tools and consumables, and create maintenance records.</p>
                {% if tasks %}
                    {% for task in tasks %}
                        <section class="ui ui relaxed horizontal list">
                            <section class="item">
                                <section class="header">
                                    <a href="{% url 'task_show' task_id=task.id %}"> 
                                        <p> {{ task.task_name }} </p>
                                    </a> 
                                </section>
                            </section>
                        </section>
                    {% endfor %} 
                {% else %}
                    <p> Click on the add button to add the tasks necessary to maintain your {{equipment.make}} {{equipment.model}}.</p>
                {% endif %}
                
                <section id='equipment_create_task'>
                    <a class="ui item button" href="{% url 'task_create' equipment_id=equipment.id %}">
                        <section class="ui vertical animated button" tabindex="0">
                            <section class="hidden content">Add Task</section>
                            <section class="visible content">
                                <i class="plus circle icon"></i>
                            </section>
                        </section>
                    </a>
                </section>
            </section>
        </div>

        <div id="tab2" class="lined-paper">
            <section class="paper_tabs">
            {% if maintenance %}
                {% for maintenance in maintenance %}
                    <section class="ui relaxed horizontal list">
                        <section class="item">
                            <section class="header">
                                <p> {{ maintenance.task }} </p>
                            </section>
                            <section class="content">
                                <p> Performed on {{ maintenance.date }} </p>
                                {% if maintenance.hours > 0 %}
                                    <p> Euipment was at {{ maintenance.hours }} hours when maintenance was performed.</p> 
                                {% else %}
                                    <p> Equipment was at {{ maintenance.mileage }} miles when maintenance was performed.</p>
                                {% endif %}
                            </section>
                        </section>
                    </section>
                {% endfor %}
            {% else %}
                <p>Maintenance records for your {{equipment.make}} {{equipment.model}} will be added here as they are created.  Create maintenance records from tasks.</p>
            {% endif %}
            </section>
        </div>
        <div id="tab3" class="lined-paper">
            <section class="paper_tabs">
                <p>This tab holds all of the tools that are used to work on this piece of equipment.</p>
                {% if tools %}
                    {% for tool in tools %}    
                        <section class="ui relaxed horizontal list">
                            <section class="item">
                                <section class="content">
                                    <p class="header"> {{ tool.tool_name }} </p>
                                </section>
                                <section class="content">
                                    <p> {{ tool.description }} </p>
                                </section>
                            </section>
                        </section>
                    {% endfor %} 
                {% else %}
                    <p>You will see the tools that are needed to maintain your {{equipment.make}} {{equipment.model}} here when you add them to tasks.</p>
                {% endif %}
            </section>
        </div>
        <div id="tab4" class="lined-paper">
            <section class="paper_tabs">
                <p>This tab holds all of the consumables that are used to maintain this piece of equipment.</p>
                {% if consumables %}
                    {% for consumable in consumables %}
                        <section class="ui relaxed horizontal list">
                            <section class="item">
                                <section class="content">
                                    <p class="header">{{ consumable.name }}</p>
                                </section>
                                <section class="description">
                                    <p> {{ consumable.description }} </p>
                                </section>
                            </section> 
                        </section>
                    {% endfor %}
                {% else %}
                    <p>You will see consumables that are needed to maintain your {{equipment.make}} {{equipment.model}} here when you add them to tasks.</p>
                {% endif %}
            </section>
        </div>
    </div>   
</div>

{% endblock %}