{% extends 'base.html' %}
{% block content %}

<div id="profile">
    <section>
        <h2 class="ui center aligned header">{{ user.first_name}} {{user.last_name}}</h2>
        <p>Username: {{user.username}}</p>
        <p>Email: {{ user.email }}</p>
        <p>Location: {{profile.location}}</p>
        <p>Hourly rate:  ${{profile.hourly_rate}}.00</p>
        <p>Date Joined: {{ user.date_joined }}</p>
    </section>
    <section id="profile_new_user">
            {% if profile.location == "" %}
            <p>Oops.  Looks like we are missing some information.  Let's go ahead and add it?</p>
            <div id="container-box" class="ui center aligned stackable grid container">
                
                <form action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    <div class="ui equal width form">
                        <div class="field">
                            <h3 class='ui center aligned header'>Location</h3>
                            <input type="text" name="location" placeholder="USA" >
                        </div>
                        <div class="field">
                            <h3 class='ui center aligned header'>Hourly Rate </h3>
                            <div class="ui right labeled input ">
                                <label for="amount" class="ui label">$</label>
                                <input type="number" id="amount" name="hourly_rate" value=0>
                                <div class="ui basic label">.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="form_buttons">
                        <input class='ui button' type="submit" value='Add Info'>
                    </div>
                </form>
            {% else %}
            <div class="form_buttons">
                <a href="{% url 'profile_edit' %}" class="ui button">Edit Profile</a>
                <a href="#" class="ui button delete_modal_profile">Delete Account</a>
            </div>
        </div>    
        {% endif %}
    </section>

     {% comment %} Delete Modal {% endcomment %}
        <div id="profile_modal" class="ui modal delete_profile">
            <i class="close icon"></i>
            <div class="ui equal width">
                <div class="header">
                    <h1>DELETE</h1> 
                </div>
                <div class="content">
                    <p>Are you sure you want to delete your Account?</p> 
                </div>
                <div class="actions">
                    <a href="{% url 'profile_delete' %}" class="ui button">
                        Confirm Delete
                    </a>
                    <div class="ui black deny button">Cancel</div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </div>
</div>

{% endblock %}