{% extends 'base.html' %}
{% block content %}

<div id="profile">
    <section>
        <h3 class="ui center aligned header">{{ user.first_name}} {{user.last_name}}</h3>
        <p>Username: {{user.username}}</p>
        <p>Email: {{ user.email }}</p>
        
        {% if profile == "" %}
            <p>Location: </p>
            <p>Hourly rate: </p>
        {% else %}
            <p>Location: {{profile.location}}</p>
            <p>Hourly rate:  {{profile.hourly_rate}}</p>
        {% endif %}

        <p>Date Joined: {{ user.date_joined }}</p>
    </section>
    <section>
        {% if profile == "" %}
            <p>Oops.  Looks like we are missing some information.  Let's go ahead and add it?</p>
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{profile_form.as_p}}
                <input class='ui button' type="submit" value='Add Info'>
            </form>
        {% else %}
            <div id="form_buttons">
                <a href="{% url 'profile_edit' %}" class="ui button">Edit Profile</a>
                <a href="#" class="ui button delete_modal_profile">Delete Account</a>
            </div>
        {% endif %}
    </section>

     {% comment %} Delete Modal {% endcomment %}
        <div id="profile_modal" class="ui modal delete_profile">
            <i class="close icon"></i>
            <div class="ui equal width">
                <div class="header">
                    <h1>DELETE</h1> 
                </div>
                <div class="content">
                    <p>Are you sure you want to delete your Account?</p> 
                </div>
                <div class="actions">
                    <a href="{% url 'profile_delete' %}" class="ui button">
                        Confirm Delete
                    </a>
                    <div class="ui black deny button">Cancel</div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </div>
</div>

{% endblock %}